<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Grimorio</title>
    <link rel="stylesheet" href="/stylesheets/books.css">
  </head>
  <body>
    <style>
      .grid-img {
        margin-left: 4.3%;
        align-items: center;
      }
    </style>
    <script>
        function scrollHandler() {
        if (window.scrollY > 500) {
            document.querySelector('#grid-page').classList.add('show');
        }
    }
    window.addEventListener('scroll', scrollHandler);
    </script>
    <div class="col-1">
        <a href='/potions'><img class="grid-img" src="/images/books/poções.png" width="300px" height="400px"></a>
        <a href='/cristais'><img href='/cristais'class="grid-img" src="/images/books/cristais.png" width="300px" height="400px"></a>
        <a href='/magias'><img href='/magias'class="grid-img" src="/images/books/magias.png" width="300px" height="400px"></a>
        <a href='/ervas'><img href='/ervas'class="grid-img" src="/images/books/ervas.png" width="300px" height="400px"></a>
      </div>       
  </body>
</html>