<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="favicon.ico" type="/images/x-icon">
  <title>Grimoire</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
<style>
  .menu {
    position: relative;
    display: inline-block;
  }

  .dropdown {
    display: none;
    position: absolute;
    z-index: 1;
  }

  .menu:hover .dropdown {
    display: block;
  }

  .dropdown img {
    width: 50px;
    height: 50px;
  }

  .dropdown span {
    display: block;
    margin-bottom: 10px;
  }

  .dropdown a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
  }

  .dropdown a:hover {
    color: #555;
  }
</style>

<nav class="navbar" id="navbar">
  <div class="navbar__content">
    <h1 class="navbar__title">GRIMOIRE</h1>
    <button class="navbar__toggle" id="navbar__toggle">
      <div class="menu">
        <img src="/images/menu-light.png" alt="Menu" onmouseover="showDropdown()" onmouseout="hideDropdown()">
        <div class="dropdown" id="dropdown">
          <img src="/images/Icon.png" alt="Profile Picture">
          <span><%= user.name %></span>
          <a href="/">Início</a>
          <a href="/books">Seu grimório</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
    </button>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="content">
        <img src="images/Banner.png" alt="Poção, varinha e cristal">
      </div>
    </div>
    <iframe src="/books" class="iframe-grimorio"></iframe>
    <!-- <iframe src="/moon" class="iframe-lua"></iframe> -->
    <iframe src="/year" class="iframe-grimorio"></iframe>
  </div>
</div>

<script>
  const navbar = document.getElementById('navbar');
  const navbarToggle = document.getElementById('navbar__toggle');

  window.addEventListener('scroll', () => {
    if (window.pageYOffset > 0) {
      navbar.classList.add('navbar--visible');
    } else {
      navbar.classList.remove('navbar--visible');
    }
  });

  navbarToggle.addEventListener('click', () => {
    navbarToggle.classList.toggle('navbar__toggle--open');
  });
</script>
<footer>
  <div class="footer-content">
    <h3>GRIMOIRE</h3>
    <p>Informações reservadas à VIOLETA, Gabi. Naturalmente Bruxa. 1. ed. São Paulo: DarkSide Books, 2019.</p>
    <ul class="socials">
      <li><a href='https://github.com/leticiadutra22-23'><img src="/images/github.png" width="40px" height="40px"></a></li>
      <li><a href='https://www.linkedin.com/in/let%C3%ADcia-dutra-7375411b2/'><img src="/images/linkedin.png" width="40px" height="40px"></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2023 Grimoire. Designed by <span>Letícia Dutra</span></p>
  </div>
</footer>
<script>
  function showDropdown() {
    document.getElementById('dropdown').style.display = 'block';
  }

  function hideDropdown() {
    document.getElementById('dropdown').style.display = 'none';
  }
</script>
</body>
</html>