<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Grimorio</title>
    <link rel="stylesheet" href="stylesheets/grimoire.css">
  </head>
  <body>
    <div class="container">
      <div class="square-button" onclick="openPopup('addPopup')"></div>
    </div>

    <div class="popup" id="addPopup">
      <div class="popup-content">
        <span class="popup-close" onclick="closePopup('addPopup')">x</span>
        <img src="/images/magic.png" alt="Imagem" width="180px" height="170px">
        <form id="form" action="/save" method="post" onsubmit="saveText(event)">
          <input type="text" id="titleInput" name="title" placeholder="Insira o título...">
          <textarea id="textInput" name="text" placeholder="Insira uma descrição..."></textarea>
          <button type="submit">Salvar</button>
          <input type="hidden" name="type" value="2">
          <input type="hidden" name="imageTitle" value="potion.png">
        </form>
      </div>
    </div>

    <script>
      function openPopup(popupId) {
        const popup = document.getElementById(popupId);
        popup.classList.add('active');
      }

      function closePopup(popupId) {
        const popup = document.getElementById(popupId);
        popup.classList.remove('active');

        // Limpar os campos do formulário
        document.getElementById('titleInput').value = '';
        document.getElementById('textInput').value = '';
      }

      async function saveText(event) {
        event.preventDefault();

        const form = document.getElementById('form');
        const title = form.elements.title.value;
        const text = form.elements.text.value;

        const data = {
          title: title,
          text: text,
          currentRoute: '/magias',
          type: 2
    };

  // Enviar os dados para o servidor
        try {
          const response = await fetch('/save', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        });
          if (response.ok) {
            console.log('Dados salvos com sucesso!');
            closePopup('addPopup');
          } else {
            console.error('Ocorreu um erro ao salvar os dados.');
          }
        } catch (error) {
          console.error('Ocorreu um erro na requisição:', error);
        }
      }
    </script>
  </body>
</html>