<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MoonPhase</title>
    <link rel="stylesheet" href="/stylesheets/moon.css">
  </head>
  <body>
  <div class="shape-container">
  <img class="shape-image" src="/images/moon/MoonInfos.png" alt="Forma">
    <div class="text-container">
    <h1 class="text-overlay">LUA CHEIA</h1>
    <p>A lua cheia representa o ápice do poder lunar, momento em que tudo o que é desejado terá o máximo de energia para se realizar.</p>
    </div>
  <img class="small-image" src="/images/moon/mooncheia.png" alt="Lua Cheia">
  </div>
  <div class="corner-image">
  <img src="/images/moon/MoonTips.png" alt="Dicas">
     <div class="text-container">
    <h1>DICAS</h1>
    <p class="text-overlay">Também é uma época excelente para magias que aumentam a intuição e leituras de oráculos.</p>
    </div>
  </div>
  <div class="corner-image-right">
  <img src="/images/moon/moontodo.png" alt="Todo">
    <div class="text-container">
    <h1>TO DO</h1>
      <ul class="text-overlay">
        <li>Consagrar objetos</li>
        <li>Feitiços de amor, prosperidade, proteção, saúde, fertilidade e espiritualidade.</li>
      </ul>
    </div>
  </div>
  </body>
</html>