<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MoonPhase</title>
    <link rel="stylesheet" href="/stylesheets/moon.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  <div class="shape-container">
  <img class="shape-image" src="/images/moon/MoonInfos.png" alt="Forma">
  <img class="small-image" src="/images/moon/mooncheia.png" alt="Lua Cheia">
  </div>
  </body>
</html>