<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Grimorio</title>
    <link rel="stylesheet" href="stylesheets/grimoire.css">
  </head>
  <body>
    <div class="container">
      <div class="square-button" onclick="openPopup('addPopup')"></div>
    </div>

    <div class="popup" id="addPopup">
      <div class="popup-content">
        <span class="popup-close" onclick="closePopup('addPopup')">x</span>
        <img src="/images/potion.png" alt="Imagem" width="180px" height="170px">
        <input type="text" id="titleInput" placeholder="Título">
        <textarea id="textInput" placeholder="Digite seu texto"></textarea>
        <button onclick="saveText()">Salvar</button>
      </div>
    </div>

    <div class="container">
      <div class="saved-square" id="savedSquare" onclick="openPopup('viewPopup')">
        <img src="/images/potion.png" alt="Imagem">
        <p id="savedText">Texto salvo</p>
      </div>
    </div>

    <div class="popup" id="viewPopup">
      <div class="popup-content">
        <span class="popup-close" onclick="closePopup('viewPopup')">x</span>
        <img src="/images/potion.png" alt="Imagem" width="180px" height="170px">
        <p id="viewText">Texto salvo</p>
      </div>
    </div>

    <script>
      let isTextSaved = false;

      function openPopup(popupId) {
        const popup = document.getElementById(popupId);
        popup.classList.add('active');
      }

      function closePopup(popupId) {
        const popup = document.getElementById(popupId);
        popup.classList.remove('active');

        // Limpar os campos do formulário
        document.getElementById('titleInput').value = '';
        document.getElementById('textInput').value = '';
      }

      function saveText() {
  const titleInput = document.getElementById('titleInput');
  const textInput = document.getElementById('textInput');
  const savedSquare = document.getElementById('savedSquare');
  const savedText = document.getElementById('savedText');
  const viewText = document.getElementById('viewText');

  if (!isTextSaved) {
    const textData = {
      title: titleInput.value,
      text: textInput.value,
      type: 'poção'
    };

    // Fazendo uma solicitação POST para a API do servidor
    fetch('/api/save-text', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(textData)
    })
      .then(response => response.json())
      .then(data => {
        console.log('Texto salvo no banco de dados:', data);

        savedText.textContent = textInput.value;
        savedSquare.classList.add('active');
        isTextSaved = true;
      })
      .catch(error => {
        console.log('Erro ao salvar o texto:', error);
      });
  } else {
    openPopup('viewPopup');
  }
}
      
          const uri = 'mongodb+srv://leleyendev:yWqfXRQkCOxQ5s1b@cluster0.osjg6dw.mongodb.net/';
          const client = new MongoClient(uri, { useNewUrlParser: true, useUnifiedTopology: true });

          client.connect(err => {
            if (err) {
              console.log(err);
              return;
            }

            const collection = client.db('GrimoireData').collection('texts');
            collection.insertOne(textData, (err, result) => {
              if (err) {
                console.log(err);
              } else {
                console.log('Texto salvo no banco de dados');
              }
              client.close();
            });
          });

          savedText.textContent = textInput.value;
          savedSquare.classList.add('active');
          isTextSaved = true;
        } else {
          openPopup('viewPopup');
        }
      }
    </script>
  </body>
</html>