<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Grimorio</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <script>
        function scrollHandler() {
        if (window.scrollY > 500) {
            document.querySelector('#grid-page').classList.add('show');
        }
    }
    window.addEventListener('scroll', scrollHandler);
    </script>
    <div class="col-1">
        <img class="grid-img" src="assets/poções.png">
        <img class="grid-img" src="assets/cristais.png">
        <img class="grid-img" src="assets/magias.png">
        <img class="grid-img" src="assets/ervas.png">
      </div>       
  </body>
</html>